{% load static i18n %}
<!-- for post list -->

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <!-- <span> &#x25B8;</span> -->
    {% for crumb in crumbs  %}
      {% if forloop.first %}
      <li class="breadcrumb-item">
        <a href="/">
          <span class="streep">{% trans 'Home' %}</span>
        </a>
      </li>
      {% else %}
      {% if forloop.last %}
      <li class="breadcrumb-item">
        <a href="#">
         {{crumb.name}}
        </a>
      </li>
      {% else %}
      <li class="breadcrumb-item">
        <a href="{{crumb.url}}" class="d-flex ml-1">
         {{crumb.name}}
        </a>
      </li>
      {% endif %}

      {% endif %}
    {% endfor %}
  </ol>
</nav>