{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row d-flex justify-content-center">
  <div class="mt-3 col col-md-8 col-sm-12">
      <h6 class="px-3 py-4 not-found custom-font border-success ">Site in development. <br> Please feel free to report any bugs <a class="general" href="https://github.com/lissa3/medsbox/tree/main">here </a>  and send suggestions.</h6>
    <div>
      <ul>
        <li class="">
          Please let me know if you have noticed any content violation. This content will be deleted.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}