{% extends 'base.html' %}
{% load static i18n embed_video_tags %}
{% block head_title %} Intro | {{block.super}}{% endblock %}

{% block content %}
<div class="row mx-1 tool-one">

  <div class="col-md-9 mx-auto">
    <h4 class="text-center">{% trans "Методы мышления" %} </h4>
    <div class="row mt-2">
      <div class="col col-md-8">
        <p>
          Возможно уже известно, с какими жалобами поступил пациент. И мы мысленно обозначили в общих чертах дифф диагноз, направлясь в палату больного.
        </p>
        <p>
          Кстати, не думайте, что представленная информация о больном 100% доставерна. Медработник, принимающий пациента в приёмном покое, может ошибочно интерпретировать жалобы больного, а это подтолкнёт вас в неправильном направлении <br>( например, отметить кровхарканье при кашле, хотя у пациента потеря крови из верхнего отдела ЖКТ).
        </p>

      </div>
      <div class="col col-md-4">
        <img src="{% static 'images/homepage/pngs/pt_doc.png'%}" alt="patient-and-doctor">
      </div>
    </div>
    <div class="mt-2">
      <p class="">
        <span class="to-underline">Следующим шагом будет практика.</span>  <br>
        Нам предстоит путём расспроса и физикального обследования ограничить список предполагаемых заболеваний и отсортировать их по степени приоритета.
      </p>
      <p class="lh-l">
        Ясно, что часть "пазла", наборов симптомов и жалоб пациента, может быть составляющей нескольких (групп) заболеваний. Например, боль в суставах может быть проявлением падагры, болезни Лайма, волчанки, воспаления сухожилий, ревматических заболеваний и т.д.
      </p>
      <p>
        Для решения пазла у нас в распоряжении несколько методов:
      </p>
    </div>

      <div class="d-flex mt-3 justify-content-between">
        <div class="mt-lg-3">
          <a href="#hypo">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans 'Метод гипотезы' %}
            </button>
          </a>
        </div>
        <div class="mt-lg-3">
          <a href="#forward">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans 'Опережающее мышление' %}
            </button>
          </a>
        </div>
        <div class="mt-lg-3">
          <a href="#pat">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans 'Распознание паттерна' %}
            </button>
          </a>
        </div>
      </div>
    <!-- </div> -->
    <!-- 1 st method -->
    <div class="row mt-2 pt-1" id="hypo">
      <div class="text-center mb-3" ><strong>Метод гипотезы</strong></div>
      <div class="col-md-8">
        <p class="lh-l">
          Эта стратегия мышления основана на обработке списка выявленных симптомов и сопоставлении каждого симптома с множеством возможных диагнозов. Мы обрабатываем их поочерёдно до просветления или пока нас(или пациента) не одолеет усталость. </p>
          <p class="">
            На этом подходе часто основан материал медицинских учебников или инфа в интернете, которую читают пациенты.

          </p>
        </div>
        <div class="col-md-4">
            <img class="img80" src="{% static 'images/homepage/pngs/hypoth.png' %}" alt="hypothesis-thinking">
        </div>
        <div class="col-md-12">
          <p>
            Например, одышка и список из 1001 возможного заболевания. </p>

          <p>Применяя этот способ, врачу приходится часто возвращаться к пациенту снова, чтобы выяснить, есть ли  дополнительные симптомы, которыми характеризуется болезнь из списка.
            Эта особенность отражается в синониме метода гипотезы  -  <strong>backward-thinking</strong>.
          </p>
          <p class="">
            Сюда можно отнести подход поиска природы отдельного симптома по категориям:
            идиопатическая, сосудистая, ятрогенная, неопластическая, инфекционная, аутоиммунная, травма, эндокринная и т.д.
          </p>
          <p class="">
            Этот подход типичен в начале карьеры. Они требует много времени,  утомителен для больного и врача и  часто ведёт к избыточному или повторному сбору данных, что в свою очередь может создать ложное впечатление, что врач не слушает ответ и задаёт один вопрос несколько раз. Это происходит в общем не из-за его невнимательности, а из-за самого подхода к сбору информации.
          </p>
          <p class="">
            Однако, в некоторых случаях данная стратегия оправдана и эффективна. Особенно, когда поставленный диагноз и лечение не дают ожидаемого эффекта, или врач впервые сталкивается с каким-то экзотическим случаем.
          </p>
        </div>
    </div>

    <div class="row mb-2" id="forward">
      <div class="text-center mb-4"><strong>Метод опережающего мышления</strong></div>
      <div class="col-md-4">
        <img src="{% static 'images/homepage/pngs/forward.png'%}" alt="tree-structure" class="img80">
      </div>
      <div class="col-md-8">
        <p>
          Использование этого метода  сфокусированно на представлении клинической проблемы в виде  синдрома (комбинации симптомов).
          Стратегия, основанная на цепочке алгоритмов, направленных на <u><strong>изначальное</strong></u> и последущее сужение списка потенциальных заболеваний. Эти алгоритмы предполагают систему вопросов и ответов, основанных на контрастном сопоставлении.
        </p>
      </div>
        <p class="text-center mb-3">
          <strong>Пример</strong>
        </p>
        <p>
          При поступлении пациента с низким количеством тромбоцитов врач на старте мысленно задаст вопрос: "Это снижение связано с недостаточной продукцией или повышенным разрушением?".
        </p>
        <p>
          Если с повышенным разрушением, то есть ли признаки коагулопатии? Если присутствует коагулопатия, есть ли другие её симптомы (лихорадка, спутанность сознания)?
        </p>

    <p class="text-center mb-2" id="pat"><strong>Метод распознания паттерна</strong></p>
    <div class="row mt-2 custom-flex-small" >
      <div class="col-md-8 d-flex align-items-center">
        <div class="pat_img ">
          <p>
            Термин говорит сам за себя.
            Используется чаще всего врачами с большим опытом работы, багаж схем заболеваний которых систематически пополнялся,  а контрастное сопоставление вариантов происходит практически автоматически при сборе анамнеза.
          </p>

        </div>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/homepage/pngs/pattern.png'%}" alt="tree-structure" class="img80">
      </div>
    </div>
    <div>
      <p>
        Имеет много общего с предыдущим методом. Однако, если метод опережающего мышления использует алгоритмы, чтобы сформировать синдром, то метод распознания паттерна использует те же алгоритмы, чтобы прийти к диагнозу.
      </p>
      <p>
        Не является гарантией отсутствия ошибок.
      </p>
    </div>
    <hr>
    <div class="text-center mb-3"><strong>
          Что нам потребуется для перехода от метода гипотезы к более эффективным методам решения клинических проблем?
        </strong>
    </div>
    <div class="">
      <p>Нам потребуются навыки <strong>лучшей презентации (описания)</strong> самой проблемы
        <p>
      <p>Звучит логично, но на практике сложнее, чем мы думаем. Выработка навыка требует времени, усилий и терпения.
      </p>


      <!-- здесь ссылка на ЮТ  -->
    </div>
    <!--new topic  -->
    <div class="row mb-3 py-3">
      <div class="col-md-8">
        <p>
          <strong>Что значит <u>лучшей</u> презентацией проблемы?</strong>
        </p>
        <p>
          Хорошее описание проблемы предусматривает отражение характерных черт в полной мере при отсечении второстепенных, позволяя тем самым сфокусироваться на главном.
        </p>
        <p>
          Целью описания является поиск макс совпадения между классическими схемами болезней, которые мы наработали, и т.н. схемы данного больного. Это позволит быстрее и эффективнее построить дифф дз.
        </p>
        <p>
          <strong>Два этапа создания презентации проблемы.</strong>
        </p>
        <ul>
          <li class="ms-3">
            <strong>Процессинг</strong> - перевод жалоб пациента на язык более абстрактных медицинских терминов.
          </li>
          <li class="ms-3">
            <strong>Создание схемы больного</strong>:
            комбинация данных, полученных в результате процессинга, в компактную форму, напоминающюю схему болезни. В идеале схема болезни и схема больного должны максимально совпадать.

          </li>
        </ul>
      </div>
      <div class="col-md-4">
       <img src="{% static 'images/homepage/pngs/doctor.png' %}" alt="research">
      </div>
    </div>
  <div>
    <p>
      <strong>Процессинг</strong> предполагает использование временых, качественных и дискрипоторов* локализации, а затем переработанный ими материал комбинируется для объединения в синдром (summative processing)
      <p>
        p.s.дескриптор* = описание
      </p>
    </p>
  </div>
  <div class="">
    <div class="text-center mb-3 to-underline"><strong>
      Чем удобен перевод жалоб пацинета на язык медицинских терминов?
    </strong>
    </div>
    В повседневной жизни мы пользуемся запросами к поисковым машинам. Чем точнее введённое поисковое слово, тем лучше результат будет соответствовать запросу. Аналогичный процесс происходит и в нашей памяти.
    Абстрактное описание активирует память, давая нам возможность размять извилины, обеспечивает более эффективный поиск информации и поддерживает сравнительное - контрастное мышление.
  </div>
  <div class="">
      Например: переведём жалобу "задышка берёт" в термин "диспоноэ". Это вызовет в памяти то, что у нас хранится в мысленной папочке с ярлыком "диспоноэ".
  </div>
  <div class="">
    <div class="text-center mb-3"><strong>
      Используем дискрипоторы
    </strong>
    </div>
  </div>
  <div class="">
    <ul><strong>временные дискрипоторы</strong>
      <li>
        <p>добавляют в описание характеристики времени: молниеносный, острый, подострый, хронический</p>
    <p>
      например: "понос несколько месяцев" переводим в "хроническую диарею".
    </p>
    <p>
      Временные характеристики в схеме болезни, так и в клинической презентации играют одну из важнейших ролей, направляя ход мыслей в нужную сторону и уменьшют когнитивную нагрузку. В данном примере мы уже отсекли заболевания, вызывающие  молниеносную и острую диарею.
    </p>
      </li>
      <li><strong>качественные дискрипоторы</strong>
        <p>
          для неврологических симптомов: "слабый" &#x2192; парез, "не двигается" &#x2192; плегия, "мурашки" &#x2192; парастезия
        </p>
        <p>
          для ревмо симптомов: артрит vs артралгия
        </p>
      </li>
      <li class="">
        <p><strong>дискрипоторы для описания локализации поражения</strong></p>
        <p>
          использование этих терминов "геми","пара","тетра","моно" позволит вашим коллегам с одного слова понять суть проблемы.
        </p>
        <p>
          для ревмо симптомов: моно, олиго -, полиартрит
        </p>
      </li>
    </ul>
  </div>
  <div class="">
    <p>
      После обработки информации пациента дискрипоторами времени, качества и локализации настало время скомбинировать полученное описание и сформировать на его основе синдром (summative processing). Этот шаг позволит уменьшить количество изолированных симптомов больного
    </p>
    <div class="text-center"><strong>Пример</strong></div>
    <div>
      У больного лихорадка(гипотермия), тахикардия, лейкоцитоз(пения) и палки в развёрнутом ОАК?
      <p>
        Не будем придумывать дифф дз для всех перечисленных симптомов по отдельности. Вместо этого впишем их под зонтик <strong>SIRS</strong>.
        (Systemic Inflammatory Response Syndrome; Синдром Системного Воспалительного Ответа)
      </p>
      <p>
        Если признаки инфекции? <strong>SIRS</strong> &#x2192;  <strong>Сепсис</strong>.
      </p>
      <p>
        Если кроме инфекции есть признаки органной недостаточности (снижение output, метабол ацидоз, низкие тромбоциты, сист давлением ниже 90 мм рт), но с реакцией на объём и прессоры? &#x2192;    <strong>тяжёлый сепсис</strong>
      </p>
      <p>Нет реакции? &#x2192;  <strong>септический шок</strong> </p>
  </div>

  </div>
  <div class="text-center"><strong>Пример </strong></div>
  <p class="">
    жалобы на боль в ноге &#x2192; <strong>синдром</strong> артрита
  </p>
  <div class="d-flex custom-flex-small">
    <div class="custom-w-40 d-flex align-items-center justify-content-center">
      <p >
        Строим цепочку <strong>артрит</strong> &#x2192; олиго &#x2192; острый &#x2192;  с сыпью &#x2192; и т.д. до диагноза диссеменированной гонореи
      </p>
    </div>
    <div class="custom-w-60 d-flex justify-content-center">
      <img src="{% static 'images/homepage/svgs/schema-arthritis.svg'%}" alt="arthitis" class=" img-svg">
    </div>
  </div>
  <div class="mt-2">
    <p> Очень помогает чтение и просмотр презентаций проблем, сделанных другими, и вы не пожалеете о потраченном времени.
    </p>
    {% if vidos %}
    <div class="row mt-3 pt-3">
      <div class="col col-md-6 col-sm-12">
          {% video vidos.url "426x240" %}
      </div>

    </div>
  {% endif %}
  </div>

  <div class="mt-3">
    А теперь настало время навоять <a href="{% url 'core:pt_script' %}"><strong>схему пациента</strong></a>, пользуясь результатом шагов по созданию презентации проблемы.
  </div>
</div>
</div>

<script>
</script>
{% endblock %}




















